body{
    color: #303030;
}
a{
    text-decoration: none;
}
.wrap{
    width: 1000px;
    margin: 0 auto;
}
.topbar{
    background-color: #f6f6f6;
}
.sns{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 0px;
}
.sns li img{
    height: 20px;
    vertical-align:middle;
}
.sns li a{
    padding: 0px 15px 0px 5px;
}
.sns li a:hover{
    opacity: 0.5;
}
.facebook{
    color: #4460a0;
}
.twitter{
    color: #00aaec;
}
.header{
    display: flex;
    justify-content:space-between;
}
.header h1 a{
    background-image: url(../images/logo.png);
    height: 50px;
    width: 224px;
    display: block;
    text-indent: 101%;
    overflow:hidden;
    white-space: nowrap;
}
.menu{
    display: flex;  
}
.menu a{
    color: #00cc99;
    font-weight: bold;
    text-align: center;
    letter-spacing: 3px;
    line-height: 50px;
    display: block;
    margin: 0 25px;
    border-bottom: 5px solid transparent;
}
.menu a:hover{
    border-bottom: 5px solid #00cc99;
}
.dropdown-open{
    position: absolute;
    z-index: 100;
    color: #ffffff;
    display: none;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.5);
}
.dropdown-open a:hover{
    color: #ffffff;
    border-bottom: 5px solid transparent;
}
.banner{
    background-position: bottom;
    background-repeat: no-repeat;
    height: 345px;
    width: 1000px;
    display: flex;
    align-items: center;
}
.banner_bg_index{
    background-image: url(../images/bg_index.png);
}
.banner_bg_course{
    background-image: url(../images/bg_course.png);
}
.banner_bg_qa{
    background-image: url(../images/bg_qa.png);
}
.banner h2{
    color: #ffffff;
    font-size: 36px;
    letter-spacing: 3px;
    line-height: 1.5;
    padding: 30px 0px 30px 60px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}
.course{
    padding-top: 50px;
}
.course-subject{
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}
.course-outside{
    width: 280px;
    padding: 20px;
    box-shadow: 0px 3px 5px 0px #d6d6d6;
    border-radius: 5px;
}
.course-outside:hover{
    box-shadow: 0px 0px 15px 0px #808080;
    border-radius: 10px;
}
.course-subject img{
    display: block;
    margin: auto;
    height: 100px;
    max-width: 100%;
}
.course-subject h3{
    font-size: 20px;
    font-weight:bold;
    line-height: 3;
    text-align: center;
}
.course-subject p{
    line-height: 1.5;
    text-align: justify;
}
.course-list{
    line-height: 1.5;
    margin-left: 15px;
    list-style-type: disc;
}
.table{
    padding-bottom: 50px;
}
.table h3{
    font-size: 24px;
    font-weight: bold;
    line-height: 3;
    text-align: center;
}
.table tr:hover{
    background-color: #f7f7f7;
}
.table th{
    font-weight: bold;
    background-color: #f7f7f7;
}
.table th, .table td{
    line-height: 2.5;
    width: 250px;
    text-align: left;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    padding-left: 30px;
}
.mark{
    color: #00cc99;
    font-weight: bold;
}
.form{
    color: #ffffff;
    background: linear-gradient(#00644b,#009872);
    padding: 30px 0px;
    margin-bottom: 50px;
}
.form-inside{
    display: flex;
    justify-content: space-evenly;
}
.form h3{
    font-size: 24px;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 3px;
    text-align: center;
    padding-bottom: 30px;
}
.form-message, .form-info{
    display: flex;
    flex-direction: column;
}
.form label{
    line-height: 2.5;
}
.form textarea{
    font-size: 16px;
    height: 255px;
    width: 420px;
    line-height: 2;
    border-radius: 5px;
    border: 1px solid #ffffff;
    padding: 10px;
    resize: none;
}
.form input{
    font-size: 16px;
    width: 420px;
    line-height: 2.5;
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid #ffffff;
}
.form button{
    color: #ffffff;
    font-size: 16px;
    width: 430px;
    line-height: 2.5;
    border-radius: 5px;
    background-color: #00cc99;
    border: 1px solid #00cc99;
    margin-top: 20px;
}
.form button:hover{
    background-color: #00251A;
    border: 1px solid #00251A;
}
.footer{
    display: flex;
    justify-content:space-between;
    padding: 30px;
    border-top: 1px solid #dddddd;
}
.footer-logo a{
    background-image: url(../images/footerLogo.png);
    height: 36px;
    width: 171px;
    display: block;
    text-indent: 101%;
    overflow:hidden;
    white-space: nowrap;
}
.footer-connect p{
    color: #9b9b9b;
    font-size: 14px;
}
.footer-connect a{
    color: #00cc99;
    line-height: 1.5;
}
.footer-connect a:hover{
    color: #e12d80;
}

/* swiper 設定 */
.swiper {
    width: 1000px;
    height: 345px;
}
:root {
    --swiper-theme-color: #ffffff;
}
.gotop a{
    display: none;
    position: fixed;
    right: 15px;
    bottom: 15px;
}