.wrap{
    width: 1024px;
    margin: 0 auto;
    background-color: #fafafa;
}
.header{
    height: 400px;
    background-image: url(../images/img-headerShape.png);
    background-repeat: no-repeat;
    display: flex;
}
.header .headshot{
    text-align: center;
    padding: 125px 0 0 135px;
}
.header .headshot .name{
    color: #000000;
    font-size: 42px;
    line-height: 56px;
    font-family: MicrosoftJhengHeiRegular;
    padding-bottom: 8px;
}
.header .headshot p{
    color: #4A4A4A;
    font-size: 14px;
    line-height: 19px;
    font-family: MicrosoftJhengHeiRegular;
    padding-bottom: 8px;
}
.header .icon{
    height: 42px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 24px;
    font-family: MicrosoftJhengHeiRegular;
}
.header .icon img{
    max-width: 100%;
    padding: 12px;
}
.content h2{
    color: #1736DC;
    font-size: 24px;
    line-height: 32px;
    font-family: MicrosoftJhengHeiBold;
    text-align: center;
    padding: 56px 0px 48px 0px;
}
.content .h2-t-pink{
    color: #FB56BF;
}
/* Modern Web Skills 設定 */
.content .skill{
    display: flex;
    justify-content: space-between;
    padding: 0px 70px;
}
.content .skill li{
    background-color: #ffffff;
}
.content .skill .bb-1{
    border-bottom: 6px solid #F58D23;
    width: 284px;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.20);
    border-radius: 6px;
}
.content .skill .bb-2{
    border-bottom: 6px solid #539E43;
    width: 284px;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.20);
    border-radius: 6px;
}
.content .skill .bb-3{
    border-bottom: 6px solid #6762A6;
    width: 284px;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.20);
    border-radius: 6px;
}
.content .skill .icon{
    margin: 30px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content .skill .icon img{
    max-width: 100%;
}
.content .skill li h3{
    color: #4A4A4A;
    font-size: 18px;
    line-height: 24px;
    font-family: MicrosoftJhengHeiRegular;
    text-align: center;
}
.content .skill .skill-inside{
    margin: 28px 32px;
}
.content .skill .skill-inside li{
    color: #4A4A4A;
    font-size: 12px;
    line-height: 16px;
    font-family: MicrosoftJhengHeiRegular;
    list-style: disc;
    text-indent: 0em;
}
/* Works 設定 */
.content .work{
    display: flex;
    justify-content: space-between;
    padding: 0px 70px;
}
.content .work li{
    background-color: #ffffff;
    border-radius: 4px;
    overflow: hidden;
}
.content .work li:hover{
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.40);
    cursor: pointer;
}
.content .work .icon{
    width: 284px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content .work .icon img{
    max-width: 100%;
}
.content .work .icon-bg1{
    background: #fdb4e3;
}
.content .work .icon-bg2{
    background: #424242;
}
.content .work .icon-bg3{
    background: #8AD7FA;
}
.content .work h3{
    color: #000000;
    font-size: 14px;
    line-height: 19px;
    font-family: MicrosoftJhengHeiBold;
    margin: 8px 0 0 8px;
}
.content .work p{
    color: #4A4A4A;
    font-size: 14px;
    line-height: 19px;
    font-family: MicrosoftJhengHeiRegular;
    margin: 8px;
}
/* about 設定 */
.content .about{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 140px 72px 140px;
}
.content .about img{
    width: 260px;
}
.content .about p{
    width: 442px;
    color: #4A4A4A;
    font-size: 14px;
    line-height: 26px;
    font-family: MicrosoftJhengHeiRegular;
    text-align: justify;
}
/* footer 設定 */
.footer{
    height: 87px;
    background-image: url(../images/img-Looper-bg.png);
}
.footer p{
    color: #000000;
    font-size: 16px;
    font-family: MicrosoftJhengHeiRegular;
    line-height: 87px;
    text-align: center;
}